.logo {
  font-weight: bolder;
  color: darkmagenta;
  text-transform: uppercase;
  text-shadow: 
    0 0 5px rgba(255, 105, 180, 0.7),  /* Light pink glow */
    0 0 10px rgba(255, 20, 147, 0.5),  /* Deeper pink glow */
    0 0 15px rgba(255, 20, 147, 0.7),  /* Stronger pink glow */
    0 0 20px rgba(255, 105, 180, 1);    /* Solid pink glow */

}
.nav {
  padding: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e2e8f0;
  line-height: 2px;
}
.nav .left {
  display: flex;
}
.nav .left .menu {
  display: flex;
  margin-left: 40px;
}
.nav .left .menu li a {
  color: #4a5568;
  text-decoration: none;
  font-size: 1.1rem;
  padding: 3px 16px;
  display: block;
  font-size: 16px;
}
.nav .left .menu li a:hover {
  color: #000;
}
.nav .right a:first-child {
  margin-right: 5px;
}
